#encabezado{
    padding-top: 1px;
}
#menu {
background-color: rgba(255, 255, 255, 0.96);
border-color: #fff;
border-radius: 100px;
border-style: solid;
margin-top: 10px;
height: 70px;
display: flexbox;
align-items: center;
}
#menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.logo {
    width: 60px;
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(1.5);
}
.leon {
width: 70%;
transform: scaleX(-1);
}
.btn-primary{
    background-color: #ffed00 !important;
    border-color: #ffed00 !important;
    color: black !important;
}
/*efectos*/
/*matrix*/
  .canvasMatrix {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0; left: 0;
    z-index: -2000!important;
    
  }
/*Brillo*/
.brillo{
    transition: filter 0.3s ease-in-out;
}
.brillo:hover{
    filter: brightness(1.2);
}

/*fin efectos*/
#portada{
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.5s;
}
#portada:hover{
    transform: scale(1.1);
}
#clientes{
    background-color: rgba(255, 255, 255, 0.8);
}
.carta-servicios{
    transition: transform 0.5s;
}
.carta-servicios:hover{
    transform: scale(1.1);
}